<%= form_for(@user_post) do |f| %>
  <% if @user_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_post.errors.count, "error") %> prohibited this user_post from being saved:</h2>

      <ul>
      <% @user_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :post %><br>
    <%= f.text_field :post %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :permission %><br>
    <%= f.number_field :permission %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
