<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @user_post.post %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_post.user %>
</p>

<p>
  <strong>Permission:</strong>
  <%= @user_post.permission %>
</p>

<%= link_to 'Edit', edit_user_post_path(@user_post) %> |
<%= link_to 'Back', user_posts_path %>
