<h1>Listing post_categories</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Post</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @post_categories.each do |post_category| %>
      <tr>
        <td><%= post_category.type %></td>
        <td><%= post_category.post %></td>
        <td><%= link_to 'Show', post_category %></td>
        <td><%= link_to 'Edit', edit_post_category_path(post_category) %></td>
        <td><%= link_to 'Destroy', post_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post category', new_post_category_path %>
