<%= form_for(@post_expand) do |f| %>
  <% if @post_expand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post_expand.errors.count, "error") %> prohibited this post_expand from being saved:</h2>

      <ul>
      <% @post_expand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :post %><br>
    <%= f.text_field :post %>
  </div>
  <div class="field">
    <%= f.label :expand_name %><br>
    <%= f.text_field :expand_name %>
  </div>
  <div class="field">
    <%= f.label :expand_value_string %><br>
    <%= f.text_field :expand_value_string %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
