<%= form_for(@collection_detail) do |f| %>
  <% if @collection_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection_detail.errors.count, "error") %> prohibited this collection_detail from being saved:</h2>

      <ul>
      <% @collection_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :post %><br>
    <%= f.text_field :post %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.text_field :place %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
