<section id="main-content">

<div class="container">
<div class="new_places">
<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>
      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-6">
    <label>Tên địa điểm</label><br>
    <input type="text" name="post[post_title]" class="form-control left" id="post-post_title"  required="required" style ="width:100%"><br>
    <label>Địa chỉ</label><br>
    <input type="text" name="place[place_address]" class="form-control left" id="post-post_content"  required="required" style ="width:100%"><br>
    <label>Mô tả địa điểm</label>
    <textarea name="post[post_content]" class="form-control left" id="post-post_content"  required="required" style ="width:100%;height:170px;"></textarea><br>
  </div>
  <div class="col-md-6">
    <label>Loai dia diem</label><br>
    <select name="post[category_id]">
    <%@places_category.each do |cate|%>
    <option value="  <%=cate.id%>   ">  <%=cate.cate_name%>   </option>
    <%end%>
    </select><br>
     <label>Lat</label><br>
    <!-- <input type="text" name="post[post_title]" class="form-control left" id="post-post_title"  required="required" style ="width:100%"> -->
    <%= f.text_field :place_lat %>
    <br>
    <label>Long</label><br>
    <!-- <input type="text" name="post[post_content]" class="form-control left" id="post-post_content"  required="required" style ="width:100%"> -->

    <%= f.text_field :place_lng %>
    <br>
     <div class="field">
      <div class="field">
    <label>Điểm ưu tiên</label><br>
    <%= f.text_field :place_choice %>
  </div>
   <label>Thời gian mở cửa</label><br>
    <%= f.text_field :place_open %>
  </div>
  <div class="field">
   <label>Thời gian đóng cửa</label><br>
    <%= f.text_field :place_close %>
  </div>
  <div class="field">
    <label>Thời gian nhận khách cuối cùng</label><br>
    <%= f.text_field :place_late %>
  </div>
  <div class="field">
    <label>Giá thấp nhất</label><br>
    <%= f.text_field :place_min %>
  </div>
  <div class="field">
    <label>Giá cao nhất</label><br>
    <%= f.text_field :place_max %>
  </div>
   <div class="field">
    <label>Thời gian lưu lại</label><br>
    <%= f.text_field :place_max %>
  </div>
  </div>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>
</section>