<%= form_for(@query_expand) do |f| %>
  <% if @query_expand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@query_expand.errors.count, "error") %> prohibited this query_expand from being saved:</h2>

      <ul>
      <% @query_expand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :query %><br>
    <%= f.text_field :query %>
  </div>
  <div class="field">
    <%= f.label :expand_name %><br>
    <%= f.text_field :expand_name %>
  </div>
  <div class="field">
    <%= f.label :expand_value %><br>
    <%= f.text_field :expand_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
