<section id="main-content">
<div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              <h2>Danh Sách Kế Hoạch</h2>
                          </header>
                          
                          <table class="table table-striped table-advance table-hover">
                           <tbody>
                              <tr>
                                 <th><i class="icon_profile"></i> Tên Kế Hoạch</th>
                                 <th><i class="icon_calendar"></i> Create</th>
                                 <th><i class="icon_cogs"></i> Update</th>
                              </tr>
                              <% @plans.each do |plan| %>
                              <tr>
                                  <td><%= plan.post.post_title %></td>
                                  <td><%= plan.create_at %></td>
                                  <td><%= place.update_at %></td>
                                   <td>
                                  <div class="btn-group">
                                      <%= link_to 'Xem', [:admin, plan] %>
                                      ||<%= link_to 'Sửa', edit_admin_plan_path(plan) %>
                                      ||<%= link_to 'Xóa', [:admin, plan], method: :delete, data: { confirm: 'Are you sure?' } %>
                                  </div>
                                  </td>
                                </tr>
                              <% end %>
                           </tbody>
                        </table>
                        <%= will_paginate @plans %>
                      </section>
 
<br>
</section>