<section id="main-content">
  <h1>Sửa Loại Địa Điểm</h1>
<%= form_for([:admin, @category]) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="field">
  <label>Tên Loại Địa Điểm</label><br>
    <%= f.text_field :cate_name %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</section>