<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cate_name %><br>
    <%= f.text_field :cate_name %>
  </div>
  <div class="field">
    <%= f.label :cate_url %><br>
    <%= f.text_field :cate_url %>
  </div>
  <div class="field">
    <%= f.label :cate_group %><br>
    <%= f.text_field :cate_group %>
  </div>
  <div class="field">
    <%= f.label :cate_thumbnail %><br>
    <%= f.text_field :cate_thumbnail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
