<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :post %><br>
    <%= f.text_field :post %>
  </div>
  <div class="field">
    <%= f.label :plan_day %><br>
    <%= f.number_field :plan_day %>
  </div>
  <div class="field">
    <%= f.label :plan_start %><br>
    <%= f.datetime_select :plan_start %>
  </div>
  <div class="field">
    <%= f.label :plan_end %><br>
    <%= f.datetime_select :plan_end %>
  </div>
  <div class="field">
    <%= f.label :plan_money %><br>
    <%= f.text_field :plan_money %>
  </div>
  <div class="field">
    <%= f.label :plan_spend %><br>
    <%= f.text_field :plan_spend %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
