<div class="container">
<style type="text/css">
      .javo_control_panel{
        position:fixed;
        display:block;
        max-height:500px;
        top:50%;
        right:0px;
        padding:10px;
        z-index:999998;
        background:#454545;
        border:solid 1px #ececec;
        border-radius:10px 0 0 10px;
        width:330px;
        overflow:hidden;
        color:#fff;
      }

      .javo_control_panel h5 {
        color: #eee;
        margin-top:8px;
        text-transform:uppercase;
        font-weight:600;
        border-bottom:1px solid #6B6B6B;
      }

      .javo_control_panel_opener{
        position:fixed;
        display:block;
        height:100px;
        line-height:80px;
        top:50%;
        right:-1px;
        margin:-50px 0 0 0;
        padding:10px;
        z-index:999999;
        background:#454545;
        border:solid 1px #ececec;
        border-radius:10px 0 0 10px;
        border-right:none;
        cursor:pointer;
      }
            .javo_control_panel_opener .glyphicon {color:#ffffff;}
      .javo_control_panel h3{margin-top:5px;}
      .javo_control_panel form{margin-left:5px;}

      .margin-10-0{ margin:10px 0; }

    </style>

    
<style type="text/css">
  div, p, form, label, b, strong, u, em, ul, li, input, button, textarea, select{ font-family:'Open Sans', sans-serif; }
  h1{ font-family:'Open Sans', sans-serif; }
  h2{ font-family:'Open Sans', sans-serif; }
  h3{ font-family:'Open Sans', sans-serif; }
  h4{ font-family:'Open Sans', sans-serif; }
  h5{ font-family:'Open Sans', sans-serif; }
  h6{ font-family:'Open Sans', sans-serif; }
</style>
<style type="text/css">
  html header.main nav.navbar{background-color: rgba(0, 0, 0, 0.35);; }
  html header.main nav.navbar.affix{ background-color:rgba( 32, 32, 32, 0.3); }
  html body header#header-one-line ul.nav > li.menu-item > a{ color:#fff; }
  html body header#header-one-line ul.widget_top_menu_wrap > li.widget_top_menu > a{ color:#000; }
  html body header#header-one-line ul.widget_top_menu_wrap > li.widget_top_menu button.btn{ color:#000; }
  html body header#header-one-line #javo-navibar .navbar-right>li>a>span{ color:#777; border-color:#777;}
  html body header#header-one-line #javo-navibar .navbar-right>li>a>img{border-color:#777;}
  html header#header-one-line div#javo-navibar ul.navbar-left:not(.mobile){ margin-top:6px; }
  html header#header-one-line.main{ position:absolute; }
  html body header#header-one-line .affix #javo-navibar ul.nav > li.menu-item > a{ color:#fff; }
  html body header#header-one-line .affix ul.widget_top_menu_wrap > li.widget_top_menu > a{ color:#fff; }
  html body header#header-one-line .affix ul.widget_top_menu_wrap > li.widget_top_menu button.btn{ color:#fff; }
  html body header#header-one-line .affix #javo-navibar .navbar-right>li>a>span{ color:#777; border-color:#fff;}
  html body header#header-one-line .affix #javo-navibar .navbar-right>li>a>img{border-color:#fff;}
  html body.mobile header.main nav.navbar{ background-color:rgba( 255, 255, 255, 1); }
  html body.mobile header#header-one-line #javo-navibar ul.nav > li.menu-item > a{ color:#000 !important; }
  html body.mobile header#header-one-line .navbar-header>button>span{ background-color:#000 !important; }
  html body.mobile header#header-one-line ul.widget_top_menu_wrap > li.widget_top_menu > a{ color:#000; }
  html body.mobile header#header-one-line ul.widget_top_menu_wrap > li.widget_top_menu button.btn{ color:#000; }
  html body.mobile header#header-one-line #javo-navibar .navbar-right>li>a>span{ color:#454545; border-color:#454545;}
  html body.mobile header#header-one-line #javo-navibar .navbar-right>li>a>img{border-color:#454545;}
  html body header#header-one-line #javo-doc-top-level-menu{ background-color:#454545; }
  html body header#header-one-line #javo-doc-top-level-menu{ color:#000; }
  html body header#header-one-line #javo-doc-top-level-menu a{ color:#000; }
  html body.single header#header-one-line.main{ position:absolute; }
  html body.single header#header-one-line.main{ left:0; right:0; }
.navbar-form .form-group{display: block;}
.item-author-info .col-md-4 .item-author-info-circle-border{
      background: rgba(0, 0, 0, 0.75);
}
#javo-slide-search .slider-search-box .inner_wrap form{
      top: 120px;
}
</style>
<style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1433407634411{margin-bottom: 0px !important;padding-top: 0px !important;padding-bottom: 0px !important;background-color: #ffffff !important;}.vc_custom_1421145263677{margin-bottom: 0px !important;padding-top: 100px !important;padding-bottom: 100px !important;}.vc_custom_1421145271530{margin-bottom: 0px !important;padding-top: 100px !important;padding-bottom: 100px !important;}.vc_custom_1421199064113{margin-bottom: 0px !important;padding-top: 100px !important;padding-bottom: 100px !important;}.vc_custom_1421145294024{margin-bottom: 0px !important;padding-top: 100px !important;padding-bottom: 100px !important;}.vc_custom_1421150391084{margin-bottom: 0px !important;padding-top: 100px !important;padding-bottom: 50px !important;}.vc_custom_1421199081615{margin-bottom: 0px !important;padding-top: 50px !important;padding-bottom: 50px !important;}.vc_custom_1421199362654{padding-top: 50px !important;padding-bottom: 50px !important;}</style><noscript><style> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>
    <div class="row">
      <div class="col-md-12">
        <article id="post-1163" class="post-1163 page type-page status-publish hentry">
  <div class="entry-content">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1433407634411 vc_row-no-padding" data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true" row-effect-mobile-disable="true" style="position: relative; left: -89.5px; box-sizing: border-box; width: 1349px;">
  <div class="vc_col-sm-12 wpb_column vc_column_container ">
    <div class="wpb_wrapper">
      
    <div id="javo-slide-search" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators list-unstyled">
        <li data-target="#javo-slide-search" data-slide-to="0" class="active"></li>
        <li data-target="#javo-slide-search" data-slide-to="1" class=""></li>
        <li data-target="#javo-slide-search" data-slide-to="2" class=""></li>
        <li data-target="#javo-slide-search" data-slide-to="3" class=""></li>
        <li data-target="#javo-slide-search" data-slide-to="4" class=""></li>
        <li data-target="#javo-slide-search" data-slide-to="5" class=""></li>
        <li data-target="#javo-slide-search" data-slide-to="6" class=""></li>
        <li data-target="#javo-slide-search" data-slide-to="7" class=""></li>      
      </ol>
      <div class="slider-search-box">
        <div class="inner">
          <div class="inner_wrap">
                        <form class="navbar-form navbar-left" role="search" method="get" action="/plans/search">
                          <div class="slider-search-part-wrap">

                          <div class="form-group">
                            <input type="text" class="form-control input-large" placeholder="Từ khóa" name="k">
                          </div>
                          
                          <div class="form-group">
                            <input type="number" min="1"   class="form-control input-large" placeholder="Số người" name="u">
                          </div><!-- form-Group --> 
                          <div class="form-group">
                            <input type="number" min="1"  class="form-control input-large" placeholder="Số tiền" name="m">
                          </div><!-- form-Group -->
                        
                          <div class="form-group">
                            <input type="number" min="1"  class="form-control input-large" placeholder="Số ngày" name="n">
                          </div><!-- form-Group -->
                        
                          <div class="form-group">
                            <select  multiple="multiple"  name="l[]"   placeholder="Thành phố/ tỉnh">
                               <option value="0" disabled>Nhãn</option>
                              <%@plan_cate.each do |cate|%>
                              <option data-url="<%=cate.cate_url%>" value="<%=cate.id%>" <%="selected" if cate.id==123 %>> <%=cate.cate_name%></option>   
                              <%end%>
                            </select>
                          </div><!-- form-Group -->
                          <div class="form-group">
                            <select  multiple="multiple"  name="city[]"  placeholder="Thành phố/ tỉnh">
                               <option value="0" disabled>Tỉnh Thành</option>
                              <%@places_city.each do |cate|%>
                              <option data-url="<%=cate.cate_url%>" value="<%=cate.id%>" <%="selected" if cate.id==123 %>> <%=cate.cate_name%></option>   
                              <%end%>
                            </select>
                          </div><!-- form-Group -->
                        
                        <button type="submit" class="btn btn-primary admin-color-setting"><i class="glyphicon glyphicon-map-marker"></i> Tìm tour</button>
                        </div><!-- slider-search-part-wrap -->
                    </form>
            </div> <!-- inner_wrap -->
        </div> <!-- inner -->
      </div><!-- slider-search-box -->
      <div class="slide-search-bottom-shadow"></div>
        <!-- Wrapper for slides -->
        <div class="carousel-inner"> 

        <%
        count = -1
        @planLastest.each do |item| %>
        <%count = count + 1%>
          <% if count < 1%>
          <div class="item active " style="height:550px;">
          <% else %>

          <div class="item " style="height:550px;">
          <% end %>
            <div class="slide-bg-images" style="background-image:url('<%=item.plans.last.thumbnail%>'); 
                  background-repeat:no-repeat; background-size:cover; -webkit-background-size:cover; -moz-background-size:cover; -ms-background-size:cover; -o-background-size:cover; background-attachment:fixed; background-position-x:left; background-position-y:center; height:100%; ">

              <a href="/plans/<%=item.plans.last.id%>">
                <div class="carousel-caption">
                  <h4 class="javo-slider-search-meta hidden-sm hidden-xs" style="font-size:20px;">
                   <%=item.post_title%>                </h4>
                  <div class="search-slider-title-wrap">
                    <h2 style="font-size:25px;"></h2>
                  </div>
                </div><!-- carousel-caption -->
              </a>

              <div class="row item-author-info horizontal">
                <div class="col-md-4">
                  <a href="#" title="<%=item.plans[0].plan_day%> Ngày">
                    <div class="event_info">
                      <div class="item-author-info-circle-border">
                        <div class="javo-offer-area-content">
                          <div><%=item.plans[0].plan_day%> <br> Ngày</div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <%if item.user.present?%>
                <div class="col-md-4">
                  <a href="/users/<%=item.user.id%>" title="<%=item.user.name_display%>">
                   <div class="item-author-info-circle-border">
                      <div class="javo-offer-area-content">
                        <img src="<%=item.user.user_thumbnail%>" title="<%=item.user.name_display%>" alt="<%=item.user.name_display%>"  style="width:100%; height:100%; padding:7px"> 
                     </div>
                    </div>
                  </a>
                </div>
                <%end%>
                
                <div class="col-md-4">
                  <a href="#" title="<%=item.plans[0].plan_spend%> Người">
                    <div class="event_info">
                      <div class="item-author-info-circle-border">
                        <div class="javo-offer-area-content">
                          <div><%=item.plans[0].plan_spend.to_i%> <br> Người</div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div><!-- item-author-info -->
            </div> <!-- slide-bg-images -->
          </div><!-- item -->
        <%end%>
      </div><!-- carousel-inner -->

      <!-- Controls -->
      <a class="left carousel-control" href="#javo-slide-search" role="button" data-slide="prev">
        <i class="glyphicon glyphicon-chevron-left"></i>
      </a>
      <a class="right carousel-control" href="#javo-slide-search" role="button" data-slide="next">
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a>
    </div> <!-- javo-slide-search -->

    <script type="text/javascript">
    jQuery(function($){
      "use strict";
      var javo_slide_serach = {
        init: function(){
          this.events();

          $('.background-search-box, .slider-search-box').find('.form-group > select').each(function()
          {
            $(this).chosen({ width:'100%', search_contains:1, no_results_text: "Chọn 1 mục" })

          });
        }, events:function(){
          var $object = this;
          $('body').on('click', '.javo-this-post-views li a', function(){

            $(this).closest('.btn-group').children('button:first-child').text( $(this).text() );
            $object.options.ppp = $(this).data('views');
            $object.run();

          });
          $('.javo-this-filter').each( function(c, v){
            var _this = $(this);
            $(this).on('click', 'li[data-filter]', function(){
              $(this).closest('.btn-group').children('button:first-child').text( $(this).data('origin-title') );
              $(this).closest('ul').next().val( $(this).val() );

            });
          });
        }
      };
      javo_slide_serach.init();
    });
    </script>


    
    </div> 
  </div> 
</div>
<div class="vc_row-full-width"></div><!-- Row Backgrounds --> 

<div class="vc_row wpb_row vc_row-fluid vc_custom_1421145263677" row-effect-mobile-disable="true" style="position: relative;">
  <div class="vc_col-sm-12 wpb_column vc_column_container ">
    <div class="wpb_wrapper">
      <div id="ultimate-heading55acf238cda7a" class="uvc-heading ultimate-heading55acf238cda7a uvc-7889 " data-hspacer="line_only" data-halign="center" style="text-align:center"><div class="uvc-main-heading ult-responsive" data-ultimate-target=".uvc-heading.ultimate-heading55acf238cda7a h2" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:24px;&quot;,&quot;line-height&quot;:&quot;desktop:30px;&quot;}"><h2 style="font-weight:bold;color:#454545;">KẾ hoach được xem nhiều</h2></div><div class="uvc-heading-spacer line_only" style="margin-top:20px;margin-bottom:20px;height:2px;"><span class="uvc-headings-line" style="border-style: solid; border-bottom-width: 2px; border-color: rgb(69, 69, 69); width: 22px; margin: 0px auto;"></span></div><div class="uvc-sub-heading ult-responsive" data-ultimate-target=".uvc-heading.ultimate-heading55acf238cda7a .uvc-sub-heading " data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:15px;&quot;,&quot;line-height&quot;:&quot;desktop:20px;&quot;}" style="font-weight:normal;color:#818181;margin-bottom:50px;">Những kế hoạch, lịch trình được nhiều quan tâm nhất từ hệ thống.</div></div>       

      <div id="javo-featured-items-wrap" class="row">
      <%if @planViewest.first.present?%>
        <div class="col-md-6 left-big-img">
          <div class="item-container">
            <a href="/plans/<%=@planViewest.first.plans.first.id%>">
              <div class="feature-item-bottom-title"><%=@planViewest.first.post_title%></div>
              <img width="500" height="400" src="<%=@planViewest.first.plans.first.thumbnail%>" class="attachment-javo-large" alt="<%=@planViewest.first.post_title%>" title="<%=@planViewest.first.post_title%>">              <div class="item-cover">
                <div class="item-cover-inner">
                  <div class="item-captions">
                    <div class="item-title"><%=@planViewest.first.post_title%></div>
                    <div class="item-description"><%=@planViewest.first.plans.first.plan_day%> Ngày</div>
                  </div><!-- /.item-captions -->
                </div><!-- /.item-cover-inner -->
              </div><!-- /.item-cover -->
            </a>
          </div><!-- /.item-container -->
        </div><!-- /.col-md-6 -->
      <%end%>
      <div class="col-md-6 right-small-img">
        <div class="row">
        <%@planViewest.offset(2).limit(4).each do |item| %>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="item-container">
            <a href="/plans/<%=item.plans.first.id%>">
                  <div class="feature-item-bottom-title"><%=item.post_title%></div>
                  <img width="500" height="400" src="<%=item.plans.first.thumbnail%>" class="attachment-javo-large" alt="image31">                 <div class="item-cover">
                    <div class="item-cover-inner">
                      <div class="item-captions">
                        <div class="item-title"><%=item.post_title%></div>
                        <div class="item-description"> cate</div>
                      </div><!-- /.item-captions -->
                    </div><!-- /.item-cover-inner -->
                  </div><!-- /.item-cover -->
                </a>
            </div><!-- /.item-container -->
          </div><!-- /.col-md-6 -->
          <%end%> 
        </div><!-- /.row -->
      </div><!-- /.col-md-6 -->
    </div><!-- /#javo-featured-items-wrap -->
    
    </div> 
  </div> 
</div><!-- Row Backgrounds -->  

<div class="vc_row wpb_row vc_row-fluid" row-effect-mobile-disable="true" style="position: relative;">
  <div class="vc_col-sm-12 wpb_column vc_column_container ">
    <div class="wpb_wrapper">
      
  <div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper">
      <div id="javo_dowm_category"></div>

    </div> 
  </div> 
    </div> 
  </div> 
</div><!-- Row Backgrounds -->  <div class="vc_row wpb_row vc_row-fluid vc_custom_1421145271530 ult-vc-hide-row" data-rtl="false" data-row-effect-mobile-disable="true" style="position: relative;"><div class="upb_row_bg" data-bg-override="full" style="min-width: 1349px; left: -89.5px; width: 1349px; background: rgb(244, 244, 244);"></div>
  <div class="vc_col-sm-12 wpb_column vc_column_container ">
    <div class="wpb_wrapper">
      <div id="ultimate-heading55acf238d2a1c" class="uvc-heading ultimate-heading55acf238d2a1c uvc-4791 " data-hspacer="line_only" data-halign="center" style="text-align:center">
        <div class="uvc-main-heading ult-responsive" data-ultimate-target=".uvc-heading.ultimate-heading55acf238d2a1c h2" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:24px;&quot;,&quot;line-height&quot;:&quot;desktop:30px;&quot;}"><h2 style="font-weight:bold;color:#454545;">Danh mục</h2></div>
        <div class="uvc-heading-spacer line_only" style="margin-top:20px;margin-bottom:20px;height:2px;">
          <span class="uvc-headings-line" style="border-style: solid; border-bottom-width: 2px; border-color: rgb(69, 69, 69); width: 22px; margin: 0px auto;"></span>
        </div>

        <div class="uvc-sub-heading ult-responsive" data-ultimate-target=".uvc-heading.ultimate-heading55acf238d2a1c .uvc-sub-heading " data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:15px;&quot;,&quot;line-height&quot;:&quot;desktop:20px;&quot;}" style="font-weight:normal;color:#818181;margin-bottom:50px;">Danh mục và nhãn du lịch được nhiều người quan tâm.</div>

      </div> 
  <div class="categories-imgs">
    <div class="text-center">
      <%@plan_cate.each do |item|%>
            <a style="color:#000000;" data-javo-category="4">
              <img src="<%=item.cate_thumbnail%>" style="width:325px; height:178px;">
              <span style="font-size:18px;"><%=item.cate_name%></span>
              <div class="categories-wrap-shadow"></div>
              <div class="inner-meta ">
                <div><%=item.cate_name%></div>
                <small><%=item.planCount%></small>
              </div>
            </a>
        <%end%>
    </div>
  </div><!-- categories-imgs -->




  <form method="post" action="#">
    <input type="hidden" id="javo-item-category-filter" name="category" value="">
  </form>
  <script type="text/javascript">
  jQuery(function($){
    "use strict";
    $('body').on('click', 'a[data-javo-category]', function(){
      $('#javo-item-category-filter').val( $(this).data('javo-category') ).closest('form').submit();
    });
  });
  </script>
  
    </div> 
  </div> 
</div><!-- Row Backgrounds -->  <div class="vc_row wpb_row vc_row-fluid vc_custom_1421199064113" row-effect-mobile-disable="true" style="position: relative;">
  <div class="vc_col-sm-12 wpb_column vc_column_container ">
    <div class="wpb_wrapper">
      <div id="ultimate-heading55acf238e2c27" class="uvc-heading ultimate-heading55acf238e2c27 uvc-2761 " data-hspacer="line_only" data-halign="center" style="text-align:center">
        <div class="uvc-main-heading ult-responsive" data-ultimate-target=".uvc-heading.ultimate-heading55acf238e2c27 h2" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:24px;&quot;,&quot;line-height&quot;:&quot;desktop:30px;&quot;}">
          <h2 style="font-weight:bold;color:#454545;">Chuyến đi tốt nhất</h2>
        </div>
        <div class="uvc-heading-spacer line_only" style="margin-top:20px;margin-bottom:20px;height:2px;">
          <span class="uvc-headings-line" style="border-style: solid; border-bottom-width: 2px; border-color: rgb(129, 129, 129); width: 22px; margin: 0px auto;"></span>
        </div>

        <div class="uvc-sub-heading ult-responsive" data-ultimate-target=".uvc-heading.ultimate-heading55acf238e2c27 .uvc-sub-heading " data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:15px;&quot;,&quot;line-height&quot;:&quot;desktop:20px;&quot;}" style="font-weight:normal;color:#818181;margin-bottom:50px;">Những chuyến đi phù hợp và được nhiều người quan tâm và tốt nhất với mọi người.</div>
      </div>    

      <div class="sc-wrap" id="javo-sc-events-listing">
      <div class="sc-items sc-item-long-line-box">
        <div class="row">
                        <div class="javo-event-item-slider">

                <div class="row">
                  <div class="col-md-offset-9 col-md-3">
                    <!-- Controls -->
                    <div class="controls pull-right hidden-xs">
                      <a class="left fa fa-chevron-left btn btn-success btn-circle btn-white" href="#javo-event-item-slider-container" data-slide="prev"></a>
                      <a class="right fa fa-chevron-right btn btn-success btn-circle btn-white" href="#javo-event-item-slider-container" data-slide="next"></a>
                    </div>
                  </div>
                </div><!-- /.row -->

                <div id="javo-event-item-slider-container" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <div class="row">
                                                      <div class="col-sm-3 pull-left javo-second-event-wrap">

                                <div class="row">
                                  <div class="col-md-12 text-center">
                                    <div class="javo-second-event-listing ">
                                      <!-- <div class="javo-shortcode-event-listing"> -->
                                      <div class="event-inner-overlay-bg">
                                        <a href="../item/javo-hotel-in-downtown/index.html#item-events">
                                          <div class="event-image-inner-top">
                                            <div class="offer">
                                              Hotel                                           </div><!-- offer -->
                                          </div><!-- event-image-inner-top -->
                                          <div class="col-md-7 events-content">
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan...                                         </div><!-- events-content-->
                                        </a>
                                      </div><!-- event-inner-overlay-bg -->
                                      <img width="288" height="266" src="assets/sites/2/2014/08/backyard-with-swimming-pool-house-288x266.jpg" class="img-responsive wp-post-image" alt="backyard-with-swimming-pool-house">
                                      <div class="item-name">
                                        <span class="top-small-post-title">
                                          JAVO HOTEL IN DOWNTOWN                                        </span>
                                      </div> <!-- item-name -->
                                    </div><!-- javo-shortcode-event-listing -->

                                    <div class="javo-left-overlay bg-black">
                                                                            <div class="javo-txt-meta-area admin-color-setting">
                                        20%OFF                                      </div> <!-- javo-txt-meta-area -->
                                      <div class="corner-wrap ">
                                        <div class="corner admin-color-setting"></div>
                                        <div class="corner-background admin-color-setting"></div>
                                      </div> <!-- corner-wrap -->
                                                                          </div><!-- /.javo-left-overlay -->
                                  </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->

                              </div><!-- /.javo-second-event-wrap -->
                                                            <div class="col-sm-3 pull-left javo-second-event-wrap">

                                <div class="row">
                                  <div class="col-md-12 text-center">
                                    <div class="javo-second-event-listing ">
                                      <!-- <div class="javo-shortcode-event-listing"> -->
                                      <div class="event-inner-overlay-bg">
                                        <a href="../item/super-car-rental/index.html#item-events">
                                          <div class="event-image-inner-top">
                                            <div class="offer">
                                              Temporibus autem                                            </div><!-- offer -->
                                          </div><!-- event-image-inner-top -->
                                          <div class="col-md-7 events-content">
                                            Temporibus autem quibusdam et aut officiis debitis aut rerum necessita...                                         </div><!-- events-content-->
                                        </a>
                                      </div><!-- event-inner-overlay-bg -->
                                      <img width="288" height="266" src="assets/sites/2/2014/08/bus1-288x266.jpg" class="img-responsive wp-post-image" alt="bus">
                                      <div class="item-name">
                                        <span class="top-small-post-title">
                                          SUPER CAR RENTAL                                        </span>
                                      </div> <!-- item-name -->
                                    </div><!-- javo-shortcode-event-listing -->

                                    <div class="javo-left-overlay bg-black">
                                                                            <div class="javo-txt-meta-area admin-color-setting">
                                        10%OFF                                      </div> <!-- javo-txt-meta-area -->
                                      <div class="corner-wrap ">
                                        <div class="corner admin-color-setting"></div>
                                        <div class="corner-background admin-color-setting"></div>
                                      </div> <!-- corner-wrap -->
                                                                          </div><!-- /.javo-left-overlay -->
                                  </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->

                              </div><!-- /.javo-second-event-wrap -->
                                                            <div class="col-sm-3 pull-left javo-second-event-wrap">

                                <div class="row">
                                  <div class="col-md-12 text-center">
                                    <div class="javo-second-event-listing ">
                                      <!-- <div class="javo-shortcode-event-listing"> -->
                                      <div class="event-inner-overlay-bg">
                                        <a href="../item/espresso-cafe/index.html#item-events">
                                          <div class="event-image-inner-top">
                                            <div class="offer">
                                              Duis autem                                            </div><!-- offer -->
                                          </div><!-- event-image-inner-top -->
                                          <div class="col-md-7 events-content">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam non...                                         </div><!-- events-content-->
                                        </a>
                                      </div><!-- event-inner-overlay-bg -->
                                      <img width="288" height="266" src="assets/sites/2/2014/08/JAVO_1704-288x266.jpg" class="img-responsive wp-post-image" alt="JAVO_1704">
                                      <div class="item-name">
                                        <span class="top-small-post-title">
                                          Espresso Cafe                                       </span>
                                      </div> <!-- item-name -->
                                    </div><!-- javo-shortcode-event-listing -->

                                    <div class="javo-left-overlay bg-black">
                                                                            <div class="javo-txt-meta-area admin-color-setting">
                                        30%OFF                                      </div> <!-- javo-txt-meta-area -->
                                      <div class="corner-wrap ">
                                        <div class="corner admin-color-setting"></div>
                                        <div class="corner-background admin-color-setting"></div>
                                      </div> <!-- corner-wrap -->
                                                                          </div><!-- /.javo-left-overlay -->
                                  </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->

                              </div><!-- /.javo-second-event-wrap -->
                                                            <div class="col-sm-3 pull-left javo-second-event-wrap">

                                <div class="row">
                                  <div class="col-md-12 text-center">
                                    <div class="javo-second-event-listing ">
                                      <!-- <div class="javo-shortcode-event-listing"> -->
                                      <div class="event-inner-overlay-bg">
                                        <a href="../item/queens-airport-2/index.html#item-events">
                                          <div class="event-image-inner-top">
                                            <div class="offer">
                                              Ullamcorper volutpat                                            </div><!-- offer -->
                                          </div><!-- event-image-inner-top -->
                                          <div class="col-md-7 events-content">
                                            Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Cl...                                         </div><!-- events-content-->
                                        </a>
                                      </div><!-- event-inner-overlay-bg -->
                                      <img width="288" height="266" src="assets/sites/2/2014/07/JAVO_2999-288x266.jpg" class="img-responsive wp-post-image" alt="JAVO_2999">
                                      <div class="item-name">
                                        <span class="top-small-post-title">
                                          high food                                       </span>
                                      </div> <!-- item-name -->
                                    </div><!-- javo-shortcode-event-listing -->

                                    <div class="javo-left-overlay bg-black">
                                                                            <div class="javo-txt-meta-area admin-color-setting">
                                        20%OFF                                      </div> <!-- javo-txt-meta-area -->
                                      <div class="corner-wrap ">
                                        <div class="corner admin-color-setting"></div>
                                        <div class="corner-background admin-color-setting"></div>
                                      </div> <!-- corner-wrap -->
                                                                          </div><!-- /.javo-left-overlay -->
                                  </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->

                              </div><!-- /.javo-second-event-wrap -->
                                                    </div><!-- /.row -->
                    </div><!-- /.item.active -->
                  </div><!-- Carousel Inner -->
                </div><!-- Slider Container -->
              </div>
                  </div><!-- row -->
      </div><!-- /.sc-item-long-line-box -->
    </div><!-- /#javo-sc-events-listing -->
    
    </div> 
  </div> 
</div><!-- Row Backgrounds -->  
<%if @planRandom.present?%>
<div class="vc_row wpb_row vc_row-fluid vc_custom_1421145294024 ult-vc-hide-row" data-rtl="false" data-row-effect-mobile-disable="true" style="position: relative;">

<div class="upb_row_bg" data-bg-override="full" style="min-width: 1349px; left: -89.5px; width: 1349px; background: rgb(244, 244, 244);"></div>
  <div class="vc_col-sm-6 wpb_column vc_column_container ">
    <div class="wpb_wrapper">
      
  <div class="wpb_single_image wpb_content_element javo-animation x3 javo-left-to-right-100 vc_align_center loaded">
    <div class="wpb_wrapper">
      
      <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="500" height="427" src="<%=@planRandom.plans.last.thumbnail%>" class="vc_single_image-img attachment-full" title="<%=@planRandom.post_title%>" alt="<%=@planRandom.post_title%>" style="max-height:500px"></div>
    </div> 
  </div> 
    </div> 
  </div> 

  <div class="vc_col-sm-6 wpb_column vc_column_container ">
    <div class="wpb_wrapper">

      <div class="ult-spacer spacer-55acf238ebdbd" data-id="55acf238ebdbd" data-height="50" data-height-mobile="20" data-height-tab="20" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div>

      <div id="ultimate-heading55acf238ebf79" class="uvc-heading ultimate-heading55acf238ebf79 uvc-7036 " data-hspacer="no_spacer" data-halign="left" style="text-align:left">
        <div class="uvc-heading-spacer no_spacer" style=""></div>
        <div class="uvc-main-heading ult-responsive" data-ultimate-target=".uvc-heading.ultimate-heading55acf238ebf79 h2" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:24px;&quot;,&quot;line-height&quot;:&quot;desktop:30px;&quot;}">
          <h2 style="font-weight:bold;color:#454545;margin-bottom:30px;"><%=@planRandom.post_title%></h2>
        </div>
        <div class="uvc-sub-heading ult-responsive" data-ultimate-target=".uvc-heading.ultimate-heading55acf238ebf79 .uvc-sub-heading " data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:15px;&quot;,&quot;line-height&quot;:&quot;desktop:25px;&quot;}" style="font-weight:normal;color:#818181;margin-bottom:30px;"><%=@planRandom.post_content%>.</div>
        </div>

          <a type="button" class="ubtn ubtn-small ubtn-no-hover-bg  none  ubtn-left   tooltip-55acf238ec135" data-hover="#ffffff" data-border-color="#454545" data-hover-bg="#00aef0" data-border-hover="#00aef0" data-shadow-hover="" data-shadow-click="none" data-shadow="" data-shd-shadow="5" style="font-family:'Open Sans';font-weight:bold;font-size:14px;border-radius:3px;border-width:2px;border-color:#454545;border-style:solid;color: #454545;" href="/plans/<%=@planRandom.plans.first.id%>">
            <span class="ubtn-data ubtn-text">Xem thêm</span></a>
    </div> 
  </div> 
</div><!-- Row Backgrounds -->  
<%end%>
</div><!-- .entry-content -->
  <footer class="entry-meta">
      </footer><!-- .entry-meta -->
</article><!-- #post -->      </div>
    </div>
    </div>