<link rel="stylesheet" id="plan-css" href="/assets/css/plan.css" type="text/css" media="screen">
<style type="text/css">
  .iti-att-next-route-detail{
    display: none;
    width: 100%;
  }
    .adp-summary,.adp-placemark{display: none;}
  .adp-directions{
    width: 100%;
  }
  .trans-detail{
        padding: 0px 5px;
    cursor: pointer;
  }
   .trans-detail:hover{
    opacity: 0.7
   }
</style>

  <script src="/assets/js/canvas2image.js"></script>
  <script src="/assets/js/jquery.gauge.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
<div class="container">
  <div class="cover-fui-row-full">
    <div class="container text-left">
      <ul class="breadcrumb fleft">
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="/guide" itemprop="url">
            <span itemprop="title">Trang chủ</span>
          </a>
        </li>
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="hidden-sm hidden-xs">
          <a href="/plan/a-wonderful-trip-to-davao-16386" itemprop="url">
            <span itemprop="title"><%=@plan.post.post_title%></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
<div id="itinerary-body">
  <div class="container">
    <div class="row">
      <div id="itinerary-detail" class="col-md-9">
      <div class="panel panel-default fleft fui-row-full panel-hide-print">
        <div class="panel-heading">
          <a href="/users/<%=@user.id%>" class="tipB pull-left user-avatar" title="" data-original-title="<%=@user.user_display%>">
            <img src="<%=@plan.thumbnail%>" alt="<%=@user.user_display%>" class="item-thumnail-1 img-circle">
          </a>
          <h1 class="main-title"  itemscope="" itemtype="http://schema.org/ImageObject"><%=@plan.post.post_title%></h1>
          <ul class="list-inline fui-gray main-subtitle">
            <li>by <a href="/users/<%=@user.id%>"><%=@user.user_display%></a></li>
            <li><%=@plan.post.created_at.strftime('%c')%></li>
            <li> <a href="/users/<%=@user.id%>/plans"><i class="icomoon-icon-list-view-2"></i>Xem thêm kế hoạch khác</a></li>
          </ul>
        </div>
      <div class="panel-body row panel-body-nopadding">
        <div class="col-sm-6 hidden-print">
          <%=@plan.post.post_content%>
        </div>
        <div class="col-sm-6">
 
          <ul class="iti-attributes nav-links fui-row-full list-unstyled">
            <li><span class="fleft">Tổng thời gian:</span><span class="fright plan-value"><b><%=@plan.plan_day%></b> <small> Ngày</small></span></li>

            <li><span class="fleft">Tổng chi phí:</span><span class="fright plan-value"><b><%=@schedules.sum(:schedule_spend)%></b> <small> Vnđ</small></span></li>

            <li><span class="fleft">Tổng khoảng cách:</span><span class="fright plan-value"><b><%=@schedules.sum(:schedule_distance)%></b> <small> km</small></span></li>

            <li> <span class="fleft">Tổng địa điểm</span> <span class="fright plan-value"><b><%=@details.count%></b> <small> địa điểm</small></span></li>

            
            <li class=" first">
              <span class="fleft">Nhãn liên quan</span>
              <span class="fright plan-value ">
                <%@categories.each do |cate|%>
                  <span class="label label-info" title="<%=cate.cate_name%>" itemprop="category" style="float:none"><%=cate.cate_name%></span>
                <%end%>
              </span>
            </li>

            <li class="first" itemprop="aggregateRating" itemscope="" itemtype="http://data-vocabulary.org/Review-aggregate">
              <span class="fleft">Bình chọn</span>
              <div class="fright plan-value obj-rating fui-orange">
                <div class="rating ">
                  <i class="fui-orange icomoon-icon-star-6"></i>
                  <i class="fui-orange icomoon-icon-star-6"></i>
                  <i class="fui-orange icomoon-icon-star-6"></i>
                  <i class="fui-orange icomoon-icon-star-6"></i>
                  <i class="fui-orange icomoon-icon-star-4"></i>
                </div>
                <meta itemprop="count" content="0">
                <meta itemprop="itemreviewed" content="36 Hours in Davao City">
                <div itemprop="rating" itemscope="" itemtype="http://data-vocabulary.org/Rating">
                  <meta itemprop="average" content="8">
                  <meta itemprop="best" content="10">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            
          </div>
          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <div class="hidden-xs text-right btn-group pull-right">
              <div class="btn-group">
                <a id="btn-plan-clone" class="btn btn-default btn-plan-clone tipB" title="" data-id="16386" href="#" data-original-title="Copy this itinerary to customize by yourself">
                <span class="icomoon-icon-copy"></span> Sao chép
                </a>
                <a href="#" title="" class="tipT btn btn-plan-messages btn-default dropdown-toggle" data-toggle="dropdown" data-original-title="In hoặc tải dạng PDF">
                <span class="glyphicon glyphicon-download"></span>
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                  <a id="btn-plan-print" href="#"><span class="glyphicon glyphicon-print"></span> Tải PDF</a>
                  </li>
                  <li>
                  <a id="btn-plan-pdf" href="#"><span class="glyphicon glyphicon-download"></span> Tải với chỉ dường</a>
                  </li>
                </ul>
              </div>
              <a href="#set-1" id="btn-email-itinerary" title="" class="tipT btn btn-default" data-original-title="Gửi cho bạn bè">
              <span class="glyphicon glyphicon-envelope"></span>
              </a>
              <button class="btn btn-reporterror tipB btn-default"  onClick="javascript:this.style.display='none';window.print();this.style.display='';" title="" data-object="16386" data-type="plan" data-original-title="Báo cáo với quản trị về kế hoạch">
              <i class="glyphicon glyphicon-flag"></i>
              </button>
            </div>
            <div class="hidden-xs fright text-right btn-group">
              <button class="btn btn-vote tipB  btn-default" title="" data-short-title="Up" data-count="0" data-value="1" data-vtype="vote" data-object="16386" data-type="plan" data-original-title="I like it">
              <i class="fa fa-thumbs-o-down"></i><span> Không thích</span>
              </button>
              <button class="btn btn-vote tipB  btn-default" title="" data-short-title="" data-count="0" data-value="-1" data-vtype="vote" data-object="16386" data-type="plan" data-original-title="I dislike it">
              <i class="fa fa-thumbs-o-up"></i><span> Thích</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fui-row-full icons-container-white fleft">

      
      <div class="collapsed fleft" style="padding-bottom:50px;width:100%">
        <%@schedules.each do |schedule|%>
        <!--Detail Information of day <%=schedule.schedule_day%>-->
        <div id="results-day-<%=schedule.schedule_day%>" class="day-one results-day panel panel-default">
          <div id="nav-day-<%=schedule.schedule_day%>" class="panel-heading"><i class="day-icon fa fa-calendar"></i>
            <strong>Thông tin ngày <%=schedule.schedule_day%></strong>
            <span class="badge fright fui-bg-orange hidden-xs"><%=@details.where(:schedule_id => schedule.id).select(:place_id).distinct.count%>  địa điểm</span>
          </div>
          <div class="list-item panel-body">
          <div class="map-in-plan panel-hide-print" data-day="<%=schedule.schedule_day%>" data-scheduleid="<%=schedule.id%>" id="map-schedule-<%=schedule.schedule_day%>">
            
          </div>
          <%@details.where(:schedule_id => schedule.id).each do |detail|%>
          <!--Start a place in schedule of day 1-->
          <div class="fui-row-full att-item Attraction border-dotted" id="place-no-1-1" style="" data-application="1">
            <section class="iti-att-content">
              <div class="iti-att-header">
                <div class="col-xs-4 col-sm-2 iti-att-left infor-about-place">
                  <div class="iti-att-time"><%=detail.place_in%><div class="ampm"></div></div>
                  <div class="iti-att-image">
                    <img width="100" height="100" src="<%=detail.place_img%>" alt="<%=detail.place_name%>">
                  </div>
                </div>
                <div class="col-xs-8 col-sm-10">
                  <div class="iti-att-title">
                    <i class="icon-box cat-attraction icomoon-icon-library"></i>
                    <strong><a class="title" target="_blank" href="/a/philippine-eagle-centre-320865"><%=detail.place_name%></a></strong>
                    <span class="btn-group hidden-xs fright">
                    <a class="btn btn-default btn-xs view-detail" href="/a/philippine-eagle-centre-320865"><i class="icomoon-icon-list-view-2"></i>Detail</a>
                    <a class="btn btn-default btn-xs view-on-map anchor-scroll" href="#results-day-1" data-day="1" data-index="1"><i class="icomoon-icon-location-3"></i>Map</a>
                    </span>
                    <span class="pull-right label hidden-xs tipB" title="" data-original-title="Highly Recommended"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                  </div>
                  <div class="fui-row-full">
                    <span class="iti-att-address">
                    <i class="fa fa-paper-plane-o"></i> <%=Place.find(detail.place_id).place_address%>
                    </span>
                    <span class="pull-right iti-att-price"><strong><%=detail.place_spend%></strong> <span> vnđ</span></span>
                  </div>
                  <div class="fui-row-full">
                    <%=detail.place_note%>
                  </div>
                  <!--show image of place-->
                  <div class="fui-row-full">
                    <%@images.where({:post_images=>{:post_id => Place.find(detail.place_id).post_id}}).order("RAND()").limit(5).each do|img|%>
                      <img src="<%=img.image_url_identifier%>" alt="<%=img.image_alt%>" title="<%=img.image_title%>" class='img-in-schedule avatar' width="100" height="100">
                    <%end%>
                  </div>
                </div>
              </div>
            </section>
            <div class="iti-att-next-route fui-row-full row">
              <div class="col-xs-4 col-sm-2"></div>
              <div class="col-xs-8 col-sm-10 route-content">
              <div class="pull-left trans-mode">
              <i class="trans-icon icomoon-icon-bus"></i>
              <%
                if detail.next.nil?
                  place_name = @details.first.place_name
                else
                  place_name = detail.next.place_name  
                end


              %>
              <span class="hidden-xs title">Đi đến <a target="_blank" href="#"><%=place_name%></a></span>
              </div>

              <div class="pull-right trans-detail" data-idDetail="<%=detail.place_id%>-<%=schedule.schedule_day%>">
              Chi tiết
              </div>
              <div class="pull-right trans-time">&nbsp; <i class="glyphicon glyphicon-time"></i>
                <%=detail.next_time%> giờ
              </div>  
              <div class="pull-right trans-distance">
              <i class="glyphicon glyphicon-arrow-down"></i> <%=detail.next_distance%><span class="trans-unit"> km</span>
              </div>

              </div>
            </div>
            <div class="next-route-detail-<%=detail.place_id%>-<%=schedule.schedule_day%> iti-att-next-route-detail" id="next-route-detail-<%=detail.place_id%>-<%=schedule.schedule_day%>">

             </div>
          </div>
          <!--End a place in schedule of day 1-->
          <%end%>
        </div>
      </div>
      <!--/End detail Information of day 1-->
      <%end%>
      <!--Information of auhtor-->
      <div class="panel panel-default panel-hide-print" id="iti-author-box">
        <div class="panel-heading text-left">
        <h2 class="fui-gray">Thông tin tác giả</h2>
        </div>
        <div class="panel-body">
          <div class="pull-left">
          <a href="/u/<%=@user.user_display%>/plans" title="<%=@user.user_display%>">
          <img width="120" height="120" alt="<%=@user.user_display%>" class="fleft img-circle" src="<%=@user.user_thumbnail%>">
          </a>
          </div>
          <div class="media-body text-left">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6">
                  <h3 class="font18"><a href="/u/<%=@user.user_display%>/plans" title="<%=@user.user_display%>"><%=@user.user_display%></a></h3>
                </div>
                <div class="col-sm-6 user-social-menu">
                <%if @current_user.present?%> 
                  <%if( (@user.id_friends(@current_user.id) == false ))%>
                     
                      <button class="btn btn-xs btn-info add-friend"  data-userid="<%=@user.id%>">  <span class="glyphicon glyphicon-user"></span>   Thêm bạn</button> 
                  <%elsif(@user.id != @current_user.id)%> 
                    <button class="btn btn-xs btn-danger remove-friend" data-userid="<%=@user.id%>">Hủy bạn</button>    
                  <%end%>
                <%else%> 
                     <button class="btn btn-xs btn-info add-friend"  data-userid="<%=@user.id%>">  <span class="glyphicon glyphicon-user"></span>   Thêm bạn</button> 
                <%end%>
                </div>
              </div>
            </div>
            <div class="col-sm-12 text-left fui-gray">
            <%=@user.user_address%>
            
            <span class="attr"> - <%=@user.friends.count%> Bạn bè</span>
            </div>
              <p class="col-sm-12 text-left"><%=@user.feeling%></p>
          </div>
        </div>
      </div>
      <!--Comments about plan-->
      <section class="panel panel-default fleft fui-row-full panel-hide-print" id="box_comment">
        <div class="panel-heading">
          <h2 data-count="0" class="panel-title text-left font18">0 Comment </h2>
        </div>
        <div class="panel-body">
          <div id="itinerary-social" class="fui-row-full text-left fleft">
            <div id="itinerary-discussion" class="fui-row-full">
              <div class="fleft fui-listcomments fui-row-full">
              <ul class="list-comments media-list list-unstyled">
                <li>
                <p class="text-muted no-comment">There are no comments at this time.</p>
                </li>
              </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="media fui-comment-new">
            <div class="fui-row-full input-box hidden">
            <a class="pull-left item-thumnail-1" href="">
            <img class="media-object img-circle" width="48" height="48" src="">
            </a>
            <div class="media-body">
            <textarea tabindex="11" class="fui-comment-input form-control" id="comment-text" placeholder="Write your comment"></textarea>
            <p></p><div class="clearfix"></div><a tabindex="12" class="btn btn-primary btn-submit pull-right"><i class="icomoon-icon-pencil-4"></i><span>Post your comment</span></a><p></p>
            </div>
            </div>
            <div class="text-left alert-box ">
            <p>
            You need to <a href="#" onclick="fiuzu.common.decorator.loginRequired(function(){location.reload();})">Sign in</a> or <a href="#" onclick="fiuzu.common.decorator.loginRequired(function(){location.reload();})">Register</a> new account for leaving comments.
            </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="sidebar-right col-md-3 hidden-xs hidden-sm">
  <div class="iti-day-nav fui-row-full pos-fixed">
    <div class="iti-day-nav-list fui-box">
    <ul class="nav nav-pills nav-stacked list-unstyled">
      <li class="bottom-border active">
        <a href="#page-itinerary">
        <i class="icomoon-icon-map-2"></i>Chi tiết kế hoạch
        </a>
      </li>
      <%@schedules.each do |schedule|%>
      <li class="">
        <a data-day="<%=schedule.schedule_day%>" href="#nav-day-<%=schedule.schedule_day%>">
        <i class="icomoon-icon-calendar-2"></i>Ngày <%=schedule.schedule_day%>
        <span class="badge fright"><%=@details.where({:schedule_id => schedule.id}).count%> địa điểm</span>
        </a>
      </li>
      <%end%>
    </ul>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
    <link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />


    <script type="text/javascript" src="http://gc.kis.scr.kaspersky-labs.com/1B74BD89-2A22-4B93-B451-1C9E1052A0EC/main.js" charset="UTF-8"></script><script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script> 
    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/routeboxer/src/RouteBoxer.js" type="text/javascript"></script> 

    
<style type="text/css">
  .full{width: 100% !important;display: block;}
  @media print {  .gm-style .gmnoprint, .gmnoprint ,.iti-att-next-route-detail {    display:none  }} 
  @media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
  .image-avatar{
    float: left;
  }
  .item-thumnail-1{height: 110px;width: 110px}
</style>
  <script language="javascript">
       // var contents = window.opener.document.getElementById("itinerary-detail  ");
       // document.write(contents.innerHTML);
       // window.print();       

  </script>  


<%=render :partial=> 'plans/template'%>