<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @plan.post %>
</p>

<p>
  <strong>Plan day:</strong>
  <%= @plan.plan_day %>
</p>

<p>
  <strong>Plan start:</strong>
  <%= @plan.plan_start %>
</p>

<p>
  <strong>Plan end:</strong>
  <%= @plan.plan_end %>
</p>

<p>
  <strong>Plan money:</strong>
  <%= @plan.plan_money %>
</p>

<p>
  <strong>Plan spend:</strong>
  <%= @plan.plan_spend %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
