<p id="notice"><%= notice %></p>

<p>
  <strong>Image title:</strong>
  <%= @image.image_title %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @image.image_url %>
</p>

<p>
  <strong>Image alt:</strong>
  <%= @image.image_alt %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
